
<head>
    <meta charset="UTF-8">
{#    <title>Ameritrack Equipment Utilization Tracking</title>#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{#    <link rel="stylesheet" href="/WebApp/AMTS/templates/CSS_Stylesheets/bootstrap-3.2.0-dist/css/bootstrap.css">#}
{#    <link rel="stylesheet" href="/WebApp/AMTS/templates/CSS_Stylesheets/bootstrap-3.2.0-dist/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="/WebApp/AMTS/templates/CSS_Stylesheets/report.css">#}
</head>
{#<body>#}
{#    <h1>TEST BASE</h1>#}
{#    <span>This is an example of how to use django template language with parameters passed in. My name is {{ beast }}</span>#}
{#</body>#}

<div id="page-wrapper">
    {% block content %}
    {% endblock %}
</div>