{% extends 'base.html' %}

{% block content %}

    <head>
        <title>{{ Title }}</title>
        <!-- Latest compiled and minified jQuery (MUST BE BEFORE BOOTSTRAP.MIN.CSS)-->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <!-- FontAwesome compiled and minified -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">

        <!-- Stylesheet -->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'CSS/login-styles.css' %}"/>
    </head>


    <body style="background-color: #e5ebf4; height: 100%; margin: 0; padding: 0;">

    <!--Pulling Awesome Font -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- TODO: Authentication for user login -->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="centering text-center">
                <div class="col-md-offset-5 col-md-3" style="margin-left: 600px;">
                    <div class="form-login">
                        <h3>Ameritrack Rail</h3>
                        <input type="text" id="userName" class="form-control input-md"
                               placeholder="Username"/>
                        </br>
                        <input type="text" id="userPassword" class="form-control input-md"
                               placeholder="Password"/>
                        </br>
                        <div class="wrapper">
                                    <span class="group-btn">
                                        <a href="#" class="btn btn-primary btn-md">login <i
                                                class="fa fa-sign-in"></i></a>
                                    </span>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="well">
                    <form class="form-horizontal" id="loginForm" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <fieldset>
                            <h2>Login</h2>
                            <div class="form-group">
                                <label for="inputUsername" class="col-md-2 control-label">Username</label>

                                <div class="col-md-10">
                                    <input name="username" type="text" class="form-control" id="inputUsername"
                                           placeholder="User">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-md-2 control-label">Password</label>

                                <div class="col-md-10">
                                    <input name="password" type="password" class="form-control" id="inputPassword"
                                           placeholder="Password">
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}