{% extends 'base.html' %}
{% block content %}
    <head>
        <title>{{ Title }}</title>

        <!-- Stylesheet -->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'CSS/report-styles.css' %}"/>

        <!-- Latest compiled and minified jQuery (MUST BE BEFORE BOOTSTRAP.MIN.CSS)-->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        <!-- Include Required Prerequisites for the Date Picker-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css"
              href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    </head>

    <body style="background-color: #e5ebf4">
    <section class="header">
        <!-- Navbar -->
        <nav class="navbar navbar-custom" style="margin-bottom: 0;">
            <div class="container-fluid">
                <!-- Brand collapse / mobile display -->
                <div class="navbar-header">
                    <a href="#">
                        <!-- Load the image -->
                        {% load staticfiles %}
                        <img class="brand-image" src="{% static "IMG/logo.png" %}" alt="Brand Image"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- TODO: Austin, add python authentication -->
                        <li class="login-link"><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </section>

    <section class="main-header">
        <div class="container-fluid">

            <!-- Row of inputs -->
            <div class="row">
                <!-- ID Search -->
                <div class="col-sm-6">
                    <h3>Search</h3>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." placeholder="Machine ID Here...">
                        <div class="input-group-btn">
                            <!-- Button and dropdown menu -->
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="search_button">Search</button>
                            </span>
                        </div>
                    </div>
                </div> <!-- End col-md-4 -->

                <!-- Start Date -->
                <div class="col-sm-3">
                    <h3>Start Date</h3>
                    <!-- MM -->
                    <div class="input-group pull-left">
                        <input type="text" name="startdate" value=""/>
                        <script type="text/javascript">
                            $(function () {
                                $("input[name=\"startdate\"]").daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true
                                });
                            });
                        </script>
                        <p><a href="#">Today</a></p>
                    </div>
                </div> <!-- End col-md-4 -->

                <!-- End Date -->
                <div class="col-sm-3">
                    <h3>End Date</h3>
                    <!-- MM -->
                    <div class="input-group pull-left">
                        <input type="text" name="enddate" value=""/>
                        <script type="text/javascript">
                            $(function () {
                                $("input[name=\"enddate\"]").daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true
                                });
                            });
                        </script>
                        <p><a href="#">Today</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-body">
        <div class="container-fluid">
            <div class="row">
                <!-- Left Container -->
                <div class="col-lg-6">
                    <!-- TODO: Grab from database the names and ID -->
                    <h1>[Equipment Item] & [Number]</h1>
                    <!-- TODO: Generate date of report -->
                    <h2>[Report Date]</h2>
                    <h3>From:</h3>
                    <h3>To:</h3>
                    <h3>Distance Traveled:</h3>
                    <h3>Longitude:</h3>
                    <h3>Latitude:</h3>
                    <h3><a href="#">More Logs...</a></h3>
                </div>
                <!-- Right Container -->
                <div class="col-md-6">
                    <div id="map"></div>
                    <!--TODO: For loop markers at chosen parameters-->
                    <script>
                        const locations = [
                            ['Bondi Beach', -33.890542, 151.274856, 4],
                            ['Coogee Beach', -33.923036, 151.259052, 5],
                            ['Cronulla Beach', -34.028249, 151.157507, 3],
                            ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
                            ['Maroubra Beach', -33.950198, 151.259302, 1]
                        ];

                        function initMap() {
                            const myLatLng = {lat: -33.90, lng: 151.16};

                            const map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 11,
                                center: myLatLng
                            });

                            let count;

                            for (count = 0; count < locations.length; count++) {
                                new google.maps.Marker({
                                    position: new google.maps.LatLng(locations[count][1], locations[count][2]),
                                    map: map,
                                    title: locations[count][0]
                                });
                            }
                        }
                    </script>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRBU0ObkI4xr-QqnDARMzx9xJHq8qWQ0s&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <!-- TODO: Railserve info footer -->
        <p style="padding-top: 20px" align="center">
            Railserve, Inc
            <br>
            &copy; 2017
        </p>
    </footer>
    </body>
    <script>
        {% comment %}$("#search_button").click(function () {
            alert("Handler for .click() called.");
        });{% endcomment %}

        {% comment %} $("#search_button").click(function () {
             $.get('http://localhost:8080/machine_search',
                 function
                     (data) {
                     alert("Data: " + data)
                 });
         });{% endcomment %}
    </script>
{% endblock %}