{% extends 'base.html' %}
{% block content %}

    <head>
        <style>
            div.railroad {
                background-color: #CC0000;
            }

            #map {
                height: 500px;
            }

            p#logout {
                padding-top: 40px;
            }

            div.search {
                padding-top: 55px;
            }

            body {
                width: 100%;
                margin: 0;
                background-color: #e5ebf4;
            }

        </style>
        <title>Ameritrack Equipment Utilization Tracking</title>
        <!-- Latest compiled and minified jQuery -->
        <script
                src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

    </head>
    <body>

    <header>
        <div class="container">
            <div class="logoRow">
                <img src="images/logo.png">
                <div class="pull-right">
                    <p id="logout"><a>Logout</a></p>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="railroad">
            <img>
            <p>&nbsp;</p>
        </div>
    </header>


    <div class="container center">
        <div class="row">
            <div class="col-md-6 search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Machine ID Here">
                    <span class="input-group-addon">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                    </span>
                    <span class="input-group-addon">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-search" aria-hidden="true">
                            </span>
                        </button>
                    </span>
                    <!--The code commented out below makes the buttons on top of each other.-->
                    <!--<div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                            </div>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                                </span>
                            </button>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="container">
                    <div class="row">
                        <h3>Start Date</h3>
                        <div class="col-md-3">
                            <div class="input-group pull-left">
                                <input type="text" class="form-control" placeholder="mm" size="2">
                                <p><a>Today</a></p>
                            </div>
                            <span style="font-size:30px;" class="pull-left">/</span>
                            <div class="input-group pull-left">
                                <input type="text" class="form-control" placeholder="dd" size="2">
                            </div>
                            <span style="font-size:30px;" class="pull-left">/</span>
                            <div class="input-group pull-left">
                                <input type="text" class="form-control" placeholder="yyyy" size="5">
                            </div>
                            <button class="btn-datepicker"> <!--Need to add JQuery-->
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="container">
                    <div class="row">
                        <h3>End Date</h3>
                        <div class="col-md-3">
                            <div class="input-group pull-left">
                                <input type="text" class="form-control" placeholder="mm" size="2">
                                <p><a>Today</a></p>
                            </div>
                            <span style="font-size:30px;" class="pull-left">/</span>
                            <div class="input-group pull-left">
                                <input type="text" class="form-control" placeholder="dd" size="2">
                            </div>
                            <span style="font-size:30px;" class="pull-left">/</span>
                            <div class="input-group pull-left">
                                <input type="text" class="form-control" placeholder="yyyy" size="5">
                            </div>
                            <button class="btn-datepicker"> <!--Need to add JQuery-->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Equipment Item and Number</h1>
                <h2>Report Date</h2>
                <p>From: </p>
                <p>To: </p>
                <div class="btn-group">
                    <button type="button" disabled>On</button>
                    <button type="button" disabled>Off</button>
                </div>

                <p>Hours "On": </p>
                <p>Distance Traveled: </p>
                <p>Longitude:</p>
                <p>Latitude: </p>
                <a href="#"><u>More Logs</u></a>
            </div>
            <div class="col-md-6">
                <div id="map"></div>
                <script>
                    function initMap() {
                        var uluru = {lat: -25.363, lng: 131.044};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 4,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRBU0ObkI4xr-QqnDARMzx9xJHq8qWQ0s&callback=initMap">
                </script>
            </div>
        </div>
    </div>


    <footer>
        <!-- Railserver Info here -->
    </footer>


    </body>

    </html>

{% endblock %}